/*Styles sheet for Lecture11- demo1. Illustrating the use of flexbox*/




body {
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
    background-color: #2cd6df;
}

.container1 {
    width: 900px;
    background-color: #000606;
    color: white;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    padding: 20px 10px;
    flex-wrap: wrap;
}

/* This rule is for the div element with id "purpose" that displays the 
purpose of this demo. 
*/

#purpose {
    font-size: 30px;
    color: red;
    background-color: darkseagreen;
    padding: 10px;
    border: 10px solid black;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

section {
    border: 2px dashed red;
    background-color: blue;
    width: 265px;
    padding: 10px;
}