/*
    body-col:#050110;
    container-col:#06422d;
    box1-col:#cde30e;
    box2-col:#f83707;
    box3-col: #128bb3;
    section-col:#d6dbe3;
*/

:root{
    --body-col:#050110;
    --container-col:#06422d;
    --box1-col:#cde30e;
    --box2-col:#f83707;
    --box3-col: #128bb3;
    --section-col:#d6dbe3;
}

body{
    background-color: var(--body-col);
    font-size:100%;
}

.container{
    background-color: var(--container-col);
    max-width:64rem;
    min-width:22.5rem;
}

section{
    background-color: var(--section-col);
    padding:1rem;
    display:flex;
    gap:1rem;
    width:90%;
    margin:0.5rem auto;
    justify-content:center;
    height:30vh;
    margin:10px;
    border: 2px dashed red;
}

.box{
    border:2px double black;
    width:25%;
    text-align:center;
    padding:1rem;
    font-size:3rem;
}

.box1{
    background-color: var(--box1-col);
}

.box2{
    background-color: var(--box2-col);
    padding-top:0.1rem;
    padding-bottom:0.2rem;
}


.box3{
    background-color: var(--box3-col);
}

section:first-child{
    align-items:flex-start;
}

section:nth-child(2){
     align-items:center;
}

section:nth-child(3){
      align-items:stretch;
}

section:nth-child(4){
      align-items:baseline;
}

section:last-child{
     align-items:flex-end;
}