img {
    width: 300px;
}

figure{
    visibility:hidden;
    /*Making the element's position absolute removes it from the page flow*/
    position:absolute;

    /*We also want to ensure that on all browsers and all
    devices it won't interfere with the layout, so we position it
    accordingly*/
    top:-9999px;
    left:-9999px;
}

/*Set the position of the parent of the figure to relative*/
section:nth-of-type(2){
    position:relative;
}

/**For larger screens we want the element to appear*/
@media screen and (min-width:720px){
  
    /*We unset the position property of the parent*/
    section:nth-of-type(2){
    position:unset;
}

/*Unset the required properties for the figure element*/
figure{
    position:unset;
    visibility:visible;
}
}