/*Stylesheet for Lecture11-activity 3

*/

body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
	
}

img {
	width: 300px;
}

figure {
	margin: 0;
}